
NEO4J_URI=bolt://neo4j:7687
NEO4J_USER=neo4j
NEO4J_PASSWORD=degistir_bu_sifreyi_123
NEO4J_DATABASE=neo4j

OLLAMA_BASE_URL=http://ollama:11434

OLLAMA_EXTRACTION_MODEL=llama3

OLLAMA_TACTICAL_MODEL=karavul-kurmay-qwen
